<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <template id="website.menu" name="Main Menu">
            <ul class="nav navbar-nav">
                <li><a t-attf-href="{{ url_for('website.homepage') }}">Home</a></li>
                <li><a t-attf-href="{{ url_for('website.about') }}">About</a></li>
                <li><a t-attf-href="{{ url_for('website.contact') }}">Contact Us</a></li>
            </ul>
        </template>
    </data>
</odoo>
